{{> nav}}
<div class="page-content-wrapper">
    <div class="container-fluid backdrop-dash">

        

        <div class="dash-container col-12 col-md-10">

            <h2 class="dash-header p-2" style="width: 100%;">Dashboard</h2>

            <div class="dash-card-holder">

                <a href="#projects" class="dash-card">
                    <h5>Projects</h5>
                </a>
                
            </div>

            <div class="dash-card-holder">

                <a href="#calendar" class="dash-card">
                    <h5>Calendar</h5>
                </a>
            </div>

            <div class="dash-card-holder">
                <a href="#personalBoard" class="dash-card">
                    <h5>Personal Board</h5>
                </a>
            </div>

            <h2 class="dash-header p-2" style="width: 100%;">Projects</h2>

            {{#each starredProjects}}
                <div class="dash-card-holder">
                    <a href="#kanban" class="dash-card project-card">
                        <h5>{{projectName}}</h5>
                        {{#ifvalue starred equals=1}}
                            <span class="material-icons favorite">
                            star
                            </span>
                        {{/ifvalue}}
                        <p class="col-12 description">{{description}}</p>
                        <p class="col-12">Time Spent: {{timeSpent}} hours</p>
                    </a>
                </div>
            {{/each}}

    </div>
</div>