{{> nav}}
<div class="page-content-wrapper">
    <div class="container-fluid">
        

        <h2 class="dash-header">Dashboard</h2>

        <div class="dash-container">
            <div class="dash-card-holder">
                <a href="#board" class="dash-card">
                    <h5>Board</h5>
                    <div class="progress">
                        <div class="progress-bar" style="width:70%"></div>
                    </div>
                </a>
                
            </div>

            <div class="dash-card-holder">
                <div class="dash-card">
                    <h5>Teams</h5>
                </div>
                
            </div>

            <div class="dash-card-holder">
                <div class="dash-card">
                    <h5>Profile</h5>
                </div>

            </div>
        </div>


    </div>
</div>