{{> nav}}
<div class="page-content-wrapper">
    <div class="container-fluid">
        

        <h2>Dashboard</h2>

        <div class="dash-container">
            <div class="dash-card">
                <h4>My board</h4>
            </div>

            <div class="dash-card">
                <h4>My teams</h4>
            </div>

            <div class="dash-card">
                <h4>Profile</h4>
            </div>
        </div>


    </div>
</div>