{{> nav}}
<div class="page-content-wrapper-fluid">
    <div class="container-fluid">
        <h2 class="dash-header">Kanban Board</h2>
        <div class="container-fluid">
            <div class=
                "p-2 mb-2 
                border border-dark border-4 rounded-3">
                <div style="display:flex">
                    <div class="col-3 p-1">
                        <h4 class="dash-header">Not Started</h4>
                        <div class=
                            "p-2 mb-2 
                            border border-secondary border-3 rounded-2" style="h-100">

                            <div class = "p-1">
                                <div class="card bg-secondary text-white">
                                    <a href="#task5" class="card-body">
                                        <h6 class="card-title">Task 5</h6>
                                    </a>
                                </div>
                            </div>

                            <div class = "p-1">
                                <div class="card bg-secondary text-white">
                                    <a href="#task6" class="card-body">
                                        <h6 class="card-title">Task 6</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 p-1">
                        <h4 class="dash-header">In Progress</h4>
                        <div class=
                            "p-2 mb-2 
                            border border-secondary border-3 rounded-2">
                            <div class = "p-1">
                                <div class="card bg-secondary text-white">
                                    <a href="#task3" class="card-body">
                                        <h6 class="card-title">Task 3</h6>
                                        <p class="card-text">6 hr.</p>
                                        <div class="progress" style="height: 15px;">
                                            <div class="progress-bar progress-bar-striped" style ="width:50%">25%</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                            <div class = "p-1">
                                <div class="card bg-secondary text-white">
                                    <a href="#task4" class="card-body">
                                        <h6 class="card-title">Task 4</h6>
                                        <p class="card-text">2 hr.</p>
                                        <div class="progress" style="height: 15px;">
                                            <div class="progress-bar progress-bar-striped" style="width:20%">25%</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 p-1">
                        <h4 class="dash-header">Testing</h4>
                        <div class=
                            "p-2 mb-2 
                            border border-secondary border-3 rounded-2">
                            <div class = "p-1">
                                <div class="card bg-secondary text-white">
                                    <a href="#task2" class="card-body">
                                        <h6 class="card-title">Task 2</h6>
                                        <p class="card-text">3 hr.</p>
                                        <div class="progress" style="height: 15px;">
                                            <div class="progress-bar progress-bar-striped" style="width:90%">25%</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 p-1">
                        <h4 class="dash-header">Done!</h4>
                        <div class=
                            "p-2 mb-2 
                            border border-secondary border-3 rounded-2">
                            <div class = "p-1">
                                <div class="card bg-secondary text-white">
                                    <a href="#task1" class="card-body">
                                        <h6 class="card-title">Task 1</h6>
                                        <p class="card-text">20 hr.</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>