{{> projectnav}}
<div class="page-content-wrapper-fluid">
    <div class="container-fluid">
        <h2 class="dash-header">Kanban Board</h2>
        <div class="container-fluid">
            <div class=
                "mb-2 border border-dark border-4 rounded-3">
                <div style="display:flex">
                    <div class="col" style="background-color:#09b0ef">
                        
                        <div class="p-1 d-flex justify-content-center">
                            <h4 style="color:#333333">Not Started</h4>
                        </div>
                        
                        <div class="p-2">


                            {{!-- <div class="dash-card-holder">
                                <a href="#task5" class="dash-card">
                                    <h5>Task 5</h5>
                                    <p class="col-12 description">3 hr.</p>
                                    <div class="progress" style="height: 15px;">
                                            <div class="progress-bar progress-bar-striped" style="width:20%">25%</div>
                                    </div>
                                </a>
                            </div> --}}
                            
                            
                            <div class = "p-1">
                                <div class="card" style="background-color:#DDDDDD;">
                                    <a href="#task5" class="card-body">
                                        <h6 style="color:#333333;">Task 5</h6>
                                    </a>
                                </div>
                            </div>

                            <div class = "p-1">
                                <div class="card" style="background-color:#DDDDDD;">
                                    <a href="#task6" class="card-body">
                                        <h6 style="color:#333333;">Task 6</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col" style="background-color:#44C6F7">
                        <div class="p-1 d-flex justify-content-center">
                            <h4 style="color:#333333">In Progress</h4>
                        </div>

                        <div class=
                            "p-2">
                            <div class = "p-1">
                                <div class="card" style="background-color:#DDDDDD;">
                                    <a href="#task3" class="card-body">
                                        <h6 style="color:#333333;">Task 3</h6>
                                        <p style="color:#333333;">6 hr.</p>
                                        <div class="progress" style="height: 15px;">
                                            <div class="progress-bar progress-bar-striped" style ="width:50%">50%</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                            <div class = "p-1">
                                <div class="card" style="background-color:#DDDDDD;">
                                    <a href="#task4" class="card-body">
                                        <h6 style="color:#333333;">Task 4</h6>
                                        <p style="color:#333333;">2 hr.</p>
                                        <div class="progress" style="height: 15px;">
                                            <div class="progress-bar progress-bar-striped" style="width:20%">20%</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col" style="background-color:#93DDFA">
                        <div class="p-1 d-flex justify-content-center">
                            <h4 style="color:#333333">Testing</h4>
                        </div>

                        
                        <div class=
                            "p-2">
                            <div class = "p-1">
                                <div class="card" style="background-color:#DDDDDD;">
                                    <a href="#task2" class="card-body">
                                        <h6 style="color:#333333;">Task 2</h6>
                                        <p style="color:#333333;">3 hr.</p>
                                        <div class="progress" style="height: 15px;">
                                            <div class="progress-bar progress-bar-striped" style="width:88%">88%</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col" style="background-color:#D1F1FE">
                        <div class="p-1 d-flex justify-content-center">
                            <h4 style="color:#333333">Done!</h4>
                        </div>
                        
                        <div class=
                            "p-2">
                            <div class = "p-1">
                                <div class="card" style="background-color:#DDDDDD;">
                                    <a href="#task1" class="card-body">
                                        <h6 style="color:#333333;">Task 1</h6>
                                        <p style="color:#333333;">20 hr.</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{{!-- task modal open this.model --}}