
<div class="page-content-wrapper">
    <div class="container-fluid p-0">
        
        <div id="main-contain">

            <div class="col-10 col-md-6 login-box py-4">

                <h2>Login</h2>

                <div class="input-group m-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">
                            <span class="material-symbols-outlined">
                                mail
                            </span>
                        </span>
                    </div>
                    <input type="text" class="form-control login-input" 
                    aria-label="Default" aria-describedby="inputGroup-sizing-default"
                    placeholder="Enter your email" id="loginEmail">
                </div>

                <div class="input-group m-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">
                            <span class="material-symbols-outlined">
                                key
                            </span>
                        </span>
                    </div>
                    <input type="text" class="form-control login-input" aria-label="Default" 
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="Enter password" id="loginPw">
                </div>
            </div>

        </div>


    </div>
</div>