
<div class="page-content-wrapper">
    <div class="container-fluid p-0">
        
        <div id="main-contain">

            <div class="col-10 col-md-6 login-box py-4">

                <img class="login-logo" src="../img/PiM.png">
                <h2>Login</h2>

                <div class="input-group m-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">
                            <span class="material-icons">
                                person
                            </span>
                        </span>
                    </div>
                    <input type="text" class="form-control login-input" 
                    aria-label="Default" aria-describedby="inputGroup-sizing-default"
                    placeholder="Enter your username" id="loginUsername">
                </div>

                <div class="input-group m-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">
                            <span class="material-icons">
                                key
                            </span>
                        </span>
                    </div>
                    <input class="form-control login-input" aria-label="Default" 
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="Enter password" id="loginPw" type="password">
                </div>

                <button class="btn btn-primary try-login m-2">Login</button>
                {{!-- <a class="register-link" href="#register">New to PiM?</a> --}}
            </div>

        </div>


    </div>
</div>