.card-body {
    text-decoration: none !important;
}

.task-button {
    border: none !important;

}


.kanban-card {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: margin 1s;
    color: white;
    background-color: @charcoal;
    text-decoration: none;
    padding-top: 40px;
    padding-bottom: 40px;
}

.bg-not-started{
    background-color: #DDDDDD;
}

.bg-in-progress{
    background-color: #FFEA8A;
}

.bg-testing{
    background-color: #A4E9FA;
}

.bg-done{
    background-color: #B9FF8A;
}

.bg-not-started:hover{
    background-color: #d1d1d1;
}

.bg-in-progress:hover{
    background-color: #dbc877;
}

.bg-testing:hover{
    background-color: #82b7c4;
}

.bg-done:hover{
    background-color: #96cf70;
}