#main-contain {
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
    overflow: hidden;
}

.login-box {
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(139, 139, 139, 0.482);

    display: flex; 
    justify-content: center; 
    align-items: center;

    flex-direction: column;


    .input-group {
        width: 50%;
    }
}



