.navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.profile-pic {
    width: 30px;
}

.nav-logo {
    width: 50px;
}

ul {
    float:  right !important;
}

.nav-main-section {
    float: right;
    justify-content: right;
}