.navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.profile-pic {
    width: 30px;
}

.nav-logo {
    width: 50px;
}

ul {
    float:  right !important;
}

.nav-main-section {
    float: right;
    justify-content: right;
}

.clockin-card {
    margin: 10px;
    padding: 10px;
    max-width: 300px;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
}

.clockout-card {
    margin: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    text-align: center;
}

.dropdown-menu {
    right: 5px;
}

.project-nav {
    background-color: #81d2ef;
    opacity: 0.95;
}

.proj-nav-main-section {
    justify-content: center;
    align-items: center;

    .nav-link {
        color: black;
        font-size: large;
        font-weight: bold;
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .nav-item.active {
        text-decoration: underline;
        text-decoration-color: black;
    }  
}

.project-nav-sticky {
    .main-nav {
        max-height: 40px;
    }
    
}