<div class="modal fade" id="clockOutModal">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Goodbye!</h4>
          <button type="button" class="btn-close" data-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <div class="container-fluid">

            <div class="row">
              <div class="col-12">
                <p><strong>Time:</strong> {{currentTimeFormat 'h:mm A'}}</p>
                <h6>Clock out of the following active tasks:</h6>
              </div>
              
              <button class="btn btn-outline-primary clockout-card col-4" data-taskid="1">
                
                <div style="display: flex;">
                  <div class="col-6">
                    <p><strong>Task Name</strong></p>

                    <div style="display: flex">
                      <div class="col-3">
                        <label>Progress: </label>
                      </div>
                      <div class="col-9">
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                      </div>
                      
                    </div>
                    
                  </div>
                  
                  <div class="col-6">
                    <p><strong>Time Spent:</strong></p>
                  </div>
                </div>
                

              </button>

              <button class="btn btn-outline-primary clockout-card col-4" data-taskid="1">
                
                <div style="display: flex;">
                  <div class="col-6">
                    <p><strong>Task 2 Name</strong></p>
                  </div>
                  <div class="col-6">
                    <p>4 hours logged</p>
                  </div>
                </div>

                <p>Last Accessed: {{timeFormat '10-01-2022' 'M-D-YYYY'}}</p>

                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
              </button>

            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="clockOutModalClockOut">Clock Out</button>
        </div>
      </div>
  </div>
</div>