<div class="modal fade" id="clockInModal">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Good Morning!</h4>
          <button type="button" class="btn-close" data-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <div class="container-fluid">

            <div class="row">
              <div class="col-12">
                <p><strong>Time:</strong> {{currentTimeFormat 'h:mm A'}}</p>
                <h6>What tasks would you like to start time tracking today?</h6>
              </div>
              
              <button class="btn btn-outline-primary clockin-card col-4" data-taskid="1">
                
                <div style="display: flex;">
                  <div class="col-6">
                    <p><strong>Task Name</strong></p>
                  </div>
                  <div class="col-6">
                    <p>3 hours logged</p>
                  </div>
                </div>

                <p>Last Accessed: {{timeFormat '10-19-2022' 'M-D-YYYY'}}</p>

                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
              </button>

              <button class="btn btn-outline-primary clockin-card col-4" data-taskid="1">
                
                <div style="display: flex;">
                  <div class="col-6">
                    <p><strong>Task 2 Name</strong></p>
                  </div>
                  <div class="col-6">
                    <p>4 hours logged</p>
                  </div>
                </div>

                <p>Last Accessed: {{timeFormat '10-01-2022' 'M-D-YYYY'}}</p>

                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
              </button>

            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="clockInModalClockIn">Clock In</button>
        </div>
      </div>
  </div>
</div>