<div class="modal fade" id="createTaskModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create Task</h4>
        <button type="button" class="btn-close" data-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="taskName">Task Name</label>
            <input type="text" class="form-control" id="taskName" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="taskName">Projected Finish Date</label>
            <input type="date" class="form-control" id="taskFinishDate">
          </div>
          <div class="form-group">
            <label>Assign Users:</label>
              <div style="display: flex;">
                  <form id="addUserForm">
                      <div class="form-group mt-0" id="addUser">
                          <input type="search" list="assignUsers" id="assignUsers-selectUser">
                          <datalist id="assignUsers">
                              {{#each projectUsers}}
                                  <option value="{{name}}">
                              {{/each}}
                          </datalist>
                      </div>
                  </form>
                  <button type="button" class="btn" id="assignUserButton"><span class="material-icons">add_circle_outline</span></button>
              </div>
          </div>

          <p style="display: none; color: red" id="assignUserError">User already assigned to the task</p>

          <div>
              <table class="table table-hover" style="display table; width: 100%">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody id="createtask-select-user-tbody">
                      
                  </tbody>
              </table>
          </div>
        </div>

        <div class="modal-footer">
          <button id="viewTaskPage" type="button" class="btn btn-secondary">View Task Page</button>
          <button type="button" class="btn btn-primary" id="startTask">Start Task</button>
        </div>
      </div>
      </div>
  </div>
</div>