<div class="modal fade" id="createGroupModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Group</h4>
                <button type="button" class="btn-close" data-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <form class="col-6">
                        <div class="form-group">
                            <label for="createGroupName">Group Name:</label>
                            <input type="text" class="form-control" id="createGroupName" placeholder="Name...">
                        </div>

                        <div class="form-group mt-4">
                            <label>Select User:</label>
                            <input type="search" list="createGroup-users" id="createGroup-selectUser">
                            <datalist id="createGroup-users">
                                {{#each users}}
                                    <option value="{{name}}">
                                {{/each}}
                            </datalist>

                            <button type="button" class="btn btn-outline-primary m-2" id="createGroupAddSelectedUser">Add User</button>
                        </div>

                        <div class="selected-user-div">
                            <p style="display: none; color: red" id="createGroup-noUserError">Please add at least one user</p>
                            <table class="table table-hover" style="display: table; width: 100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="selected-user-tbody">
                                </tbody>
                            </table>
                        </div>

                    </form>        
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmCreateGroup">Create Group</button>
                <button type="button" class="btn btn-danger close-modal" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>